<!DOCTYPE html>
<html>
<head>
{% block head %}
<title>{% block title %}Gopher{% endblock %}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
    

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
            <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
            <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
        <![endif]-->

<!--NEW-->
<link rel="stylesheet" type="text/css"
	href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
	rel='stylesheet' type='text/css'>

<script src="{{ url_for('static', filename='js/boostrap.min.js') }}"></script>
{% endblock %}
</head>
<body>

	<!-- Success, info and other messages "flashed" to the UI -->

	<div class="wrap">

	<div class="page">
            
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    
                    <ul class="nav navbar-nav pull-right">
                        
                    </ul>
                </div>
            </nav>

			{% block content %} Hello{% endblock %}

		</div>
		<!--page-->
	</div>
	<!--wrap-->

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<!--<script src="http://code.jquery.com/jquery-latest.js"></script> -->
	
	<!-- Footer components -->
	<footer>
		<div class="container-fluid">
		</div>
	</footer>

</body>
</html>