{% extends "base.html" %}
{% block content %}
<div class="center">
<h1 class="page-title">Enter your hours worked</h1>

<p>Push the record button to say when you worked, or type out your hours in the form.</p>

<p>E.g., 'I worked from 8 to 5.'</p>
<input id="record_button" type="button" class='btn btn-danger btn-large' value='Record'>
<span id="time">0:00</span>
    
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/record.js') }}"></script>
{% endblock scripts %}
